.tab_wrapper {
  display: flex;
  gap: 10px;
}

.content_card {
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  // background-color: #f1f1f1;
}

.title {
  margin-bottom: 10px;
  font-family: "noto sans";
  font-size: 26px;
  letter-spacing: 1.5px;
  font-weight: bold;
  /* font-style: italic; */
  color: #20201f;
}

.reservation_wrapper {
  text-align: left;
}

.reservation {
  display: inline-block;
  color: #a42b2b;
  border: 1px solid #a42b2b;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 12px;
  margin-right: auto;
}

.nav_heading_wrapper {
  display: flex;
  gap: 10px;
}

.nav_heading {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 2px solid #fff;
}

.address {
  font-size: 18px;
  margin-bottom: 24px;
}

.img_wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.img {
  width: 100%;
}

.check_list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;

  > span {
    margin-right: 10px;
  }
}

.f-16 {
  font-size: 16px;
}

.icon_review {
  font-size: 22px;
  color: rgb(163, 163, 163) !important;
}

.icon_overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  overflow: hidden;
  > i {
    color: rgb(230, 187, 0) !important;
  }
}

.icon_wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.icon_fire {
  font-size: 26px;
  color: rgb(255, 25, 0) !important;
  position: relative;
  top: 7px;
}

.icon_water {
  font-size: 26px;
  color: rgb(0, 170, 255) !important;
  position: relative;
  top: 7px;
}

.review_wrapper {
  display: flex;
  align-items: center;

  > .rate_num {
    position: relative;
    top: -2px;
    margin-left: 4px;
    color: rgb(230, 187, 0) !important;
    font-weight: bold;
  }

  > .review_num {
    font-size: 14px;
    color: rgb(99, 99, 99);
    position: relative;
    top: -1px;
    margin-left: 10px;
  }
}
