.content_card_wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 22px 20px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Sawarabi Mincho", serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  /* font-style: italic; */
  color: #20201f;
}

.address {
  margin-bottom: 10px;
}

.img {
  width: 100%;
}

.check_list {
  list-style: none;
  padding: 0;

  > span {
    margin-right: 10px;
  }
}
